langchain-core==1.0.3
pypdf==5.2.0
PyPDF2==3.0.1
Markdown==3.10
hf-xet==1.2.0
huggingface-hub==0.36.0
langchain-ollama==1.0.1
langsmith==0.5.0
ollama==0.6.1
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.0.1
requests==2.32.3
sentencepiece==0.2.1
soundfile==0.13.1
torchao==0.15.0
torchdata==0.11.0
torchtune==0.6.1
transformers==4.46.3
secure-smtplib==0.1.1
kokoro>=0.9.4
soundfile
markdown